body {
    font-family: "Lato", sans-serif;
    background-color: #fff;
}
  
.sidenav {
  height: 100%;
  width: 5%;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  padding-top: 20px;
  overflow-x: hidden;
  border-right: solid #000 5px;
}

.sidenav a {
  font-size: 25px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.sidenav a:hover {
  color: #818181;
}

.main {
  height: 100%;
  margin-left: 4%;
  padding: 0px 11px;
}

.banner {
  padding: 50px 0px 5px 30px;
  background-image: url("https://via.placeholder.com/468x60?text=468x60+Full+Banner");
}

.info {
  font-size: large;
  font-weight: bold;
}

span a {
  text-decoration: none;
  color: #000;
}

.tape {
  border-bottom: solid #000 2px;
  border-top: solid #000 2px;
}

.user-image {
  border: solid #000 10px;
  border-radius: 5px;
}

.righty {
  float: right;
  margin-top: -5px;
}

.inline {
  float: left;
}

.posts {
  margin: 5px 0px 0px 30px;
  width: 65%;
}

.associcates {
  margin: 5px 0px 0px 5px;
  width: 25%;
}

.user {
  display: inline;
}

.mysite {
  text-decoration: none;
  color: #000;
}

.pline { 
  display: inline-block;
  padding-right: 0.5em;
  margin: 5px 0px 0px 0px;
}

.line {
  display: inline-block;
  border-top: 2px solid black;
  width: 12em;
  height: 0.2em;
}

.cirles {
  margin-top: 5px;
  margin-left: 15px;
}

 .circle {
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  /* display: block; */
  color: #000;
  border: solid #000 1px;
  margin-top: 5px !important; 
}